.gpt3__features {
    width: 100%;
    flex-direction: row;
    /* border: 1px solid red; */
    padding: 5vh;
    

}
.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  --font-family: 'Manrope', sans-serif;
}


.gpt3__features_heading {
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    /* border: 1px solid red; */
}

.gpt3__features_heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    /* border: 1px solid red; */

}

.gpt3__features_heading p {
    color: var(--color-subtext);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family);
    /* border: 1px solid red; */
    margin-top: 2rem;
}

.gpt3__features_container {
    flex: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 7.5vh;
}

@media screen and (max-width: 990px) {
    .gpt3__features {
        flex-direction: column;
    }

    .gpt3__features_heading {
        margin: 0 0 2rem 0;
    }
}


@media screen and (max-width: 550px) {
    .gpt3__features_heading h1 {
        font-size: 30px;
        line-height: 40px;
        width: fit-content;
    }
}

@media screen and (max-width: 420px) {
    .gpt3__features_heading p {
        margin: auto;
        text-align: center;
    }

    .gpt3__features_heading h1 {
        text-align: center;
    }

    .gpt3__features_container {
        margin: auto;

    }
}
